body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}


.box {
    display:flex;
    align-items:center;
    justify-content: center;
    flex:1;
    color:white;
    height:50vh;
    background-color: red;
    border: 10px solid black;
    font-size: 50px;
    transition-duration: 1s;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box:hover {
  flex:10;
  background-color:purple;
}

.container {
    display:flex;
    align-items:center;
    height:100vh;
}

.box:nth-of-type(1) {
  background-image: url("https://images.unsplash.com/photo-1590536527363-f11dce09bbe4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
}
.box:nth-of-type(2) {
    background-image: url("https://images.unsplash.com/photo-1585989933313-e96cd4751c83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  }
  .box:nth-of-type(3) {
    background-image: url("https://images.unsplash.com/photo-1485975229842-849d65f05934?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  } 
  .box:nth-of-type(4) {
    background-image: url("https://images.unsplash.com/photo-1590536385345-602954f53f6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  }
  .box:nth-of-type(5) {
    background-image: url("https://images.unsplash.com/photo-1552727595-159151673880?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
  }

